html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#login-box {
  margin-top: 16vw;
  padding: 0vw 7.46667vw;
}

#login-box h2 {
  font-size: 4vw;
  color: #442818;
  text-align: center;
}

#login-box ul {
  width: 100%;
  height: 75.2vw;
  margin-top: 6.66667vw;
}

#login-box ul input {
  width: 100%;
  padding: 2.66667vw 0;
  border-bottom: 0.26667vw solid #DFDFDF;
}

#login-box ul input::-webkit-input-placeholder {
  color: #D5BFA7;
}

#login-box ul .pas2 {
  border-bottom: none;
}

#login-box ul .am-list-line {
  padding-right: 0;
}

#login-box ul .am-list-item, #login-box ul .am-list-item-middle {
  padding-left: 0;
  width: 84.8vw;
}

#login-box ul .date-picker-list {
  width: 100%;
}

#login-box ul .am-list-content {
  color: #D5BFA7;
  font-size: 3.2vw;
}

#login-box ul .erroBox {
  vertical-align: middle;
  height: 12.53333vw;
}

#login-box ul .erroBox > p {
  line-height: 12.53333vw;
  color: #FF714D;
  font-size: 3.2vw;
  display: none;
}

#login-box ul .erroBox > p > i {
  background: url(../../static/img/tip.png);
  background-repeat: no-repeat;
  background-position: 0vw 3.73333vw;
  background-size: 4.8vw 4.8vw;
  display: block;
  width: 4.8vw;
  height: 12.53333vw;
  line-height: 4.8vw;
  float: left;
}

#login-box ul button {
  width: 100%;
  height: 11.2vw;
  color: white;
  background-color: #442818;
}

#login-box .gotosign {
  color: black;
  float: right;
  margin-top: 5.33333vw;
}

#login-box .gotosign > a {
  color: black;
}
