@function vw($px){
    @return($px/750)*200vw
}

.shopcar{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    .bottom-addcart-button{
        position: fixed;
        height: vw(46);
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        z-index: 100000;
        box-shadow: 0 vw(-2) vw(4) 0 rgba(0,0,0,0.10);
        .am-navbar-left{
            padding: 0;
            margin: 0;
            flex: 1;
          a{
              background: url(https://static.21cake.com/themes/wap/img/cart-order-delete.png) no-repeat center center;
              color: #442818;
              width: vw(44);
              height: 100%;
              text-align: center;
              line-height: vw(50);
              font-size: vw(14);
              background-size: vw(14) auto;
          }
        }
        .am-navbar-right{
            padding: 0;
            margin: 0;
            flex: 2;
          a{
              background: #442818;
              color: #fff;
              width: vw(96);
              height: 100%;
              text-align: center;
              line-height: vw(50);
              font-size: vw(14);
          }
        }
        .am-navbar-title{
            flex: 5;
            .pay-money{
                width: 100%;
                height: 100%;
                float: right;
                margin-right: vw(12);
                span:first-child{
                    margin-top: 5px;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: vw(16);
                }
                span:last-child{
                    display: block;
                    color: #707070;
                    font-size: 10px;
                    line-height: vw(16);
                }
            }
        }
    }
    .emptygood{
        max-width: vw(420);
        margin: 0 auto;
        margin-top: vw(180);
        img{
            height: vw(150);
            width: vw(150);
            display: block;
            margin: 0 auto;
        }
        p{
            margin: vw(10) 0;
            font-size: 14px;
            color: #D5BFA7;
            text-align: center;
        }
        a{
            width: vw(120);
            margin: 0 auto;
            display: block;
            text-align: center;
        }
    }
    .cart-top-tip{
        height: vw(38);
        line-height: vw(38);
        text-align: center;
        
    }
    .cart-pro-list{
        margin-bottom: 200px;
        li{
            background: #fff;
            margin-bottom: vw(15);
            padding: 0 vw(20);
            padding-bottom: vw(15);
            position: relative;
            .cart-pro-box{
                height: vw(120);
                overflow: hidden;
                line-height: vw(15);
                display: block;
                img{
                    display: block;
                    float: left;
                    width: vw(109);
                    height: vw(120);
                }
                span{
                    display: block;
                    font-size: vw(11);
                    color: #969696;
                }
                h2{
                    padding-top: vw(15);
                    padding-bottom: vw(6);
                    span{
                        font-size: vw(12);
                        color: #442818;
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        display: block;
                    }
                }
                .cart-pro-title{
                    padding-left: vw(128);
                    .cart-select-pound{
                        display: inline-block;
                    }
                    .cart-price{
                        margin-top: vw(10);
                        display: block;
                        font-size: vw(11);

                    }
                }
            }
            .cart-pro-number{
                position: absolute;
                height: 26px;
                width: 78px;
                overflow: hidden;
                top: 80px;
                right: 20px;
                a{
                    background: #f0f0f0;
                    font-weight: bolder;
                    display: block;
                    height: 26px;
                    width: 26px;
                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;
                    color: #442818;
                    float: left;
                }
                .action-quantity-minus{
                    img{
                        margin-top: 12px;
                        display: block;
                        width: 12px;
                        margin-left: 7px;
                    }
                }
                .action-quantity-plus{
                    img{
                        display: block;
                        width: 12px;
                        margin-top: 7px;
                        margin-left: 7px;
                    }
                }
                span{
                    background: #f7f7f7;
                    color: #969696;
                    font-size:12px;
                    display: block;
                    float: left;
                    height: 26px;
                    width: 26px;
                    line-height:26px;
                    text-align: center;
                }
            }
            .laid-count{
                height: vw(46);
                line-height: vw(46);
                background: url(https://static.21cake.com/themes/wap/img/cart-laid.png) no-repeat left;
                background-size: vw(46) vw(46);
                padding-left: vw(55);
            }
            .birthday-brand{
                display: block;
                line-height: vw(30);
                padding-left: vw(80);
                height: vw(30);
                background: url(https://static.21cake.com/themes/wap/img/cart-birthday.jpg) no-repeat left,
                url(https://static.21cake.com/themes/wap/img/go-right.png) right center no-repeat;
                background-size: vw(66) vw(30),vw(8) vw(12);
                color: #707070;
            }
        }
    }
}