.shopcar {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.shopcar .bottom-addcart-button {
  position: fixed;
  height: 12.26667vw;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 100000;
  box-shadow: 0 -0.53333vw 1.06667vw 0 rgba(0, 0, 0, 0.1);
}

.shopcar .bottom-addcart-button .am-navbar-left {
  padding: 0;
  margin: 0;
  flex: 1;
}

.shopcar .bottom-addcart-button .am-navbar-left a {
  background: url(https://static.21cake.com/themes/wap/img/cart-order-delete.png) no-repeat center center;
  color: #442818;
  width: 11.73333vw;
  height: 100%;
  text-align: center;
  line-height: 13.33333vw;
  font-size: 3.73333vw;
  background-size: 3.73333vw auto;
}

.shopcar .bottom-addcart-button .am-navbar-right {
  padding: 0;
  margin: 0;
  flex: 2;
}

.shopcar .bottom-addcart-button .am-navbar-right a {
  background: #442818;
  color: #fff;
  width: 25.6vw;
  height: 100%;
  text-align: center;
  line-height: 13.33333vw;
  font-size: 3.73333vw;
}

.shopcar .bottom-addcart-button .am-navbar-title {
  flex: 5;
}

.shopcar .bottom-addcart-button .am-navbar-title .pay-money {
  width: 100%;
  height: 100%;
  float: right;
  margin-right: 3.2vw;
}

.shopcar .bottom-addcart-button .am-navbar-title .pay-money span:first-child {
  margin-top: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 4.26667vw;
}

.shopcar .bottom-addcart-button .am-navbar-title .pay-money span:last-child {
  display: block;
  color: #707070;
  font-size: 10px;
  line-height: 4.26667vw;
}

.shopcar .emptygood {
  max-width: 112vw;
  margin: 0 auto;
  margin-top: 48vw;
}

.shopcar .emptygood img {
  height: 40vw;
  width: 40vw;
  display: block;
  margin: 0 auto;
}

.shopcar .emptygood p {
  margin: 2.66667vw 0;
  font-size: 14px;
  color: #D5BFA7;
  text-align: center;
}

.shopcar .emptygood a {
  width: 32vw;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.shopcar .cart-top-tip {
  height: 10.13333vw;
  line-height: 10.13333vw;
  text-align: center;
}

.shopcar .cart-pro-list {
  margin-bottom: 200px;
}

.shopcar .cart-pro-list li {
  background: #fff;
  margin-bottom: 4vw;
  padding: 0 5.33333vw;
  padding-bottom: 4vw;
  position: relative;
}

.shopcar .cart-pro-list li .cart-pro-box {
  height: 32vw;
  overflow: hidden;
  line-height: 4vw;
  display: block;
}

.shopcar .cart-pro-list li .cart-pro-box img {
  display: block;
  float: left;
  width: 29.06667vw;
  height: 32vw;
}

.shopcar .cart-pro-list li .cart-pro-box span {
  display: block;
  font-size: 2.93333vw;
  color: #969696;
}

.shopcar .cart-pro-list li .cart-pro-box h2 {
  padding-top: 4vw;
  padding-bottom: 1.6vw;
}

.shopcar .cart-pro-list li .cart-pro-box h2 span {
  font-size: 3.2vw;
  color: #442818;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.shopcar .cart-pro-list li .cart-pro-box .cart-pro-title {
  padding-left: 34.13333vw;
}

.shopcar .cart-pro-list li .cart-pro-box .cart-pro-title .cart-select-pound {
  display: inline-block;
}

.shopcar .cart-pro-list li .cart-pro-box .cart-pro-title .cart-price {
  margin-top: 2.66667vw;
  display: block;
  font-size: 2.93333vw;
}

.shopcar .cart-pro-list li .cart-pro-number {
  position: absolute;
  height: 26px;
  width: 78px;
  overflow: hidden;
  top: 80px;
  right: 20px;
}

.shopcar .cart-pro-list li .cart-pro-number a {
  background: #f0f0f0;
  font-weight: bolder;
  display: block;
  height: 26px;
  width: 26px;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #442818;
  float: left;
}

.shopcar .cart-pro-list li .cart-pro-number .action-quantity-minus img {
  margin-top: 12px;
  display: block;
  width: 12px;
  margin-left: 7px;
}

.shopcar .cart-pro-list li .cart-pro-number .action-quantity-plus img {
  display: block;
  width: 12px;
  margin-top: 7px;
  margin-left: 7px;
}

.shopcar .cart-pro-list li .cart-pro-number span {
  background: #f7f7f7;
  color: #969696;
  font-size: 12px;
  display: block;
  float: left;
  height: 26px;
  width: 26px;
  line-height: 26px;
  text-align: center;
}

.shopcar .cart-pro-list li .laid-count {
  height: 12.26667vw;
  line-height: 12.26667vw;
  background: url(https://static.21cake.com/themes/wap/img/cart-laid.png) no-repeat left;
  background-size: 12.26667vw 12.26667vw;
  padding-left: 14.66667vw;
}

.shopcar .cart-pro-list li .birthday-brand {
  display: block;
  line-height: 8vw;
  padding-left: 21.33333vw;
  height: 8vw;
  background: url(https://static.21cake.com/themes/wap/img/cart-birthday.jpg) no-repeat left, url(https://static.21cake.com/themes/wap/img/go-right.png) right center no-repeat;
  background-size: 17.6vw 8vw, 2.13333vw 3.2vw;
  color: #707070;
}
