body, html {
  margin: 0;
  padding: 0;
  list-style: none;
  touch-action: none;
}

.goods {
  background: #f6f6f6;
}

.goods .slider-decorator-0 {
  margin-bottom: 2.66667vw;
}

.goods .slider-decorator-0 .am-carousel-wrap-dot span {
  background-color: #fff;
  border-radius: 0;
  margin-left: 1.33333vw;
}

.goods .slider-decorator-0 .am-carousel-wrap-dot-active span {
  background: #442818;
}

.goods div, .goods p {
  margin: 0;
  padding: 0;
  font-size: 3.2vw;
  color: #442818;
}

.goods .details-box {
  background: #fff;
  padding-bottom: 5.33333vw;
}

.goods .details-box .pro-title {
  padding: 0 6.4vw;
  color: #333;
}

.goods .details-box .pro-title h3 {
  font-size: 6.4vw;
  color: #333;
  line-height: 7.73333vw;
  padding-top: 2.66667vw;
}

.goods .details-box .pro-title span {
  font-size: 3.73333vw;
  line-height: 4.8vw;
}

.goods .details-box .price-label {
  margin-top: 1.06667vw;
  height: 8vw;
}

.goods .details-box .price-label span {
  display: inline-block;
}

.goods .details-box .price-label .top-price {
  font-size: 5.86667vw;
  color: #C69C6D;
  padding-left: 6.4vw;
  height: 8vw;
  line-height: 8vw;
}

.goods .details-box .pro-details-label {
  padding: 1.33333vw 6.4vw;
}

.goods .details-box .pro-details-label a {
  display: inline-block;
  line-height: 4.8vw;
  color: #D5BFA7;
  padding: 0 3.2vw;
  border: 0.26667vw solid #D5BFA7;
  border-radius: 26.66667vw;
  margin-right: 1.6vw;
}

.goods .details-box .details-taste {
  padding: 2.66667vw 6.4vw 0;
  overflow: hidden;
}

.goods .details-box .details-taste li {
  float: left;
  height: 8.53333vw;
  line-height: 5.33333vw;
  margin-right: 5.33333vw;
  margin-bottom: 2.66667vw;
}

.goods .details-box .details-taste li img {
  width: 8.53333vw;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2.13333vw;
}

.goods .details-box .select-card {
  background: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.06667vw;
  margin: 0 5.33333vw;
  overflow: hidden;
}

.goods .details-box .select-card .select-specifications {
  border-bottom: none;
  background: rgba(199, 178, 153, 0.2);
  margin: 0;
  padding-left: 3.73333vw;
}

.goods .details-box .select-card .select-specifications li {
  border: none;
  height: 12vw;
  font-size: 3.46667vw;
  line-height: 12vw;
}

.goods .details-box .select-card .select-specifications li a {
  display: block;
}

.goods .details-box .select-card .select-specifications li #J-specifications span {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0;
  color: inherit;
  font-size: 3.46667vw;
  background: none;
  line-height: 12vw;
  height: 12vw;
  text-align: right;
}

.goods .details-box .select-card .select-specifications li i {
  display: inline-block;
  height: 4vw;
  width: 2.66667vw;
  background: url(https://static.21cake.com/themes/wap/img/Page-go.png);
  float: right;
  margin-top: 4vw;
  background-size: cover;
  margin-right: 4vw;
}

.goods .details-box .select-card .details-options-card {
  margin: 4.8vw 3.73333vw 2.13333vw;
  border-bottom: 0.26667vw solid #D2D2D2;
}

.goods .details-box .select-card .details-options-card i {
  height: 6.4vw;
  width: 6.4vw;
  background-image: url(https://static.21cake.com/themes/wap/img/goods-icon.png) !important;
  background-size: 13.33333vw auto !important;
}

.goods .details-box .select-card .details-options-card li {
  color: #442818;
}

.goods .details-box .select-card .details-options-card .details-options {
  overflow: hidden;
  width: 100%;
}

.goods .details-box .select-card .details-options-card .details-options li {
  float: left;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 1.6vw;
}

.goods .details-box .select-card .details-options-card .details-options li i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2.13333vw;
}

.goods .details-box .select-card .details-options-card .details-options .details-options-size i {
  background: url(https://static.21cake.com/themes/wap/img/size.png) no-repeat center;
  background-position: 0 3px;
}

.goods .details-box .select-card .details-options-card .details-options .details-options-unmber i {
  background: url(https://static.21cake.com/themes/wap/img/unmber.png) no-repeat center;
  background-position: 0 -28px;
}

.goods .details-box .select-card .details-options-card .details-options .details-options-laid i {
  background: url(https://static.21cake.com/themes/wap/img/laid.png) no-repeat center;
  background-position: -33px 3px;
}

.goods .details-box .select-card .store-info {
  background-color: #fff;
  margin-bottom: 3.73333vw;
}

.goods .details-box .select-card .store-info li {
  overflow: hidden;
  margin-bottom: 2.13333vw;
}

.goods .details-box .select-card .store-info li img {
  height: 4vw;
  width: auto;
  display: block;
  vertical-align: top;
  float: left;
  margin-left: 4.53333vw;
}

.goods .details-box .select-card .store-info li span {
  display: block;
  vertical-align: top;
  width: 14.66667vw;
  text-align: center;
  margin: 0 2.66667vw;
  float: left;
}

.goods .details-box .select-card .store-info li div {
  width: 100%;
  float: left;
  margin-left: -34.4vw;
}

.goods .details-box .select-card .store-info li p {
  padding-left: 34.4vw;
  padding-right: 4vw;
}

.goods .details-box .select-card .store-info li .sweet-list i {
  display: inline-block;
  background: url(https://static.21cake.com/themes/wap/img/sweet-01.png) no-repeat center;
  height: 3.73333vw;
  width: 3.73333vw;
  background-size: 100%;
  margin-right: 2.66667vw;
}

.goods .details-box .select-card .store-info li .sweet-list i.active {
  background: url(https://static.21cake.com/themes/wap/img/sweet-02.png);
  background-size: 100%;
}

.goods .details-box .select-card .store-info li:last-child {
  margin-bottom: 0;
}

.goods .details-introduction .details-img {
  margin-top: 3.2vw;
  width: 100%;
  overflow: hidden;
  margin-bottom: 13.33333vw;
}

.goods .details-introduction .details-img img {
  display: block;
  width: 100%;
  float: left;
}

.goods .footer {
  background: #414141;
  padding: 8vw 2.66667vw;
}

.goods .footer ul {
  overflow: hidden;
  margin-left: -2%;
  list-style: none;
}

.goods .footer ul li {
  margin: 0;
  padding: 0;
  font-size: 3.2vw;
  color: #442818;
  float: left;
  width: 23%;
  margin-left: 2%;
  margin-bottom: 6.13333vw;
}

.goods .footer ul a:visited, .goods .footer ul a:link, .goods .footer ul a {
  text-decoration: none;
  cursor: pointer;
}

.goods .footer ul a {
  height: 8vw;
  display: block;
  border: 0.26667vw solid #979797;
  color: #979797;
  line-height: 8vw;
  text-align: center;
}

.goods .footer p {
  text-align: center;
  color: #a0a0a0;
  line-height: 4.26667vw;
}

.goods .bottom-addcart-button {
  position: fixed;
  height: 12.26667vw;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 100000;
  box-shadow: 0 -0.53333vw 1.06667vw 0 rgba(0, 0, 0, 0.1);
}

.goods .bottom-addcart-button .am-navbar-title {
  flex: 0;
}

.goods .bottom-addcart-button .am-navbar-left a {
  background: #fff;
  color: #442818;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 13.33333vw;
  font-size: 3.73333vw;
}

.goods .bottom-addcart-button .am-navbar-right a {
  background: #442818;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 13.33333vw;
  font-size: 3.73333vw;
}

.goods #webIm {
  position: fixed;
  left: 3.2vw;
  bottom: 16vw;
  display: inline-block;
  width: 13.33333vw;
  height: 13.33333vw;
  background: url(https://static.21cake.com/themes/wap/img/im-icon.png) center center no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.goods .goods-drawer {
  position: fixed;
  width: 100%;
  bottom: 12vw;
}

.goods .goods-drawer .am-drawer-sidebar {
  height: 50%;
}

.goods .goods-drawer .am-drawer-sidebar .am-list {
  height: 100%;
}

.goods .goods-drawer .am-drawer-sidebar .am-list .am-list-body {
  height: 100%;
}

.goods .details-suspension-pop {
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 99999;
  transition: all 1s;
}

.goods .details-suspension-pop i {
  display: block;
  height: 100%;
  width: 100%;
}

.goods .details-suspension-pop .hide-button {
  height: 0;
}

.goods .details-suspension-pop .details-suspension {
  display: block;
  transform-origin: 0 0;
  opacity: 1;
  transform: scale(1, 1);
  background: #fff;
  width: 100%;
  z-index: 10000;
}

.goods .details-suspension-pop .details-suspension i {
  height: 14px;
  width: 14px;
  padding: 15px;
  background: url(https://static.21cake.com/themes/wap/img/list-hide.png) no-repeat center;
  background-size: 14px 14px;
  position: absolute;
  top: 0;
  right: 0;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content {
  box-shadow: 0 -0.53333vw 1.06667vw 0 rgba(0, 0, 0, 0.1);
  padding: 3.73333vw 6.4vw 1.33333vw 6.4vw;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .details-price {
  font-size: 4vw;
  line-height: 5.86667vw;
  margin-bottom: 4vw;
  font-weight: bold;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .suspension-spec-box {
  padding: 1.33333vw 0 3.2vw;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .suspension-spec-box .details-options {
  overflow: hidden;
  width: 100%;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .suspension-spec-box .details-options li {
  float: left;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 1.6vw;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .suspension-spec-box .details-options li i {
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  padding: 0;
  position: relative;
  top: 0;
  right: 0;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .suspension-spec-box .details-options .details-options-size i {
  background: url(https://static.21cake.com/themes/wap/img/size.png) no-repeat center;
  background-size: auto 100%;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .suspension-spec-box .details-options .details-options-unmber i {
  background: url(https://static.21cake.com/themes/wap/img/unmber.png) no-repeat center;
  background-size: auto 100%;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .suspension-spec-box .details-options .details-options-laid i {
  background: url(https://static.21cake.com/themes/wap/img/laid.png) no-repeat center;
  background-size: auto 100%;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .extra-box {
  display: block;
  transform-origin: 0 0;
  opacity: 1;
  transform: scale(1, 1);
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .extra-box .detail-spec-title {
  font-size: 2.93333vw;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .extra-box .details-suspension-size-extra {
  padding-bottom: 0;
  overflow: hidden;
  margin-left: -2%;
  margin-top: 12px;
  margin-bottom: 7px;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .extra-box .details-suspension-size-extra .active {
  border: 1px solid #000;
  box-sizing: border-box;
  background: url(https://static.21cake.com/themes/wap/img/icon_selected.png) no-repeat top left;
  background-size: 12px 12px;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .extra-box .details-suspension-size-extra li {
  min-width: 23%;
  height: 8.53333vw;
  float: left;
  line-height: 8.53333vw;
  text-align: center;
  font-size: 15px;
  margin-left: 2%;
  margin-bottom: 2.13333vw;
  background: #f7f7f7;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .normal-box .detail-spec-title {
  font-size: 11px;
  margin: 0;
  padding: 0;
  color: #442818;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .normal-box .details-suspension-size {
  overflow: hidden;
  margin-left: -2%;
  margin-top: 12px;
  margin-bottom: 7px;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .normal-box .details-suspension-size .active {
  border: 1px solid #000;
  box-sizing: border-box;
  background: url(https://static.21cake.com/themes/wap/img/icon_selected.png) no-repeat top left;
  background-size: 12px 12px;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .normal-box .details-suspension-size li {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 14px;
  font-size: 12px;
  min-width: 23%;
  height: 32px;
  float: left;
  background: #f7f7f7;
  float: left;
  text-align: center;
  margin-left: 2%;
  margin-bottom: 8px;
}

.goods .details-suspension-pop .details-suspension .details-suspension-content .normal-box .details-suspension-size li span {
  width: 100%;
  text-align: center;
}
