body {
  width: 100%;
  height: 100%;
}

.addLocalbox {
  width: 100vw;
  margin-top: 12.26667vw;
}

.addLocalbox > img {
  width: 13.33333vw;
  height: 13.33333vw;
  margin: 53.33333vw 43.2vw 2.66667vw;
}

.addLocalbox > span {
  text-align: center;
  font-size: 3.2vw;
  color: #707070;
  display: block;
}

.addLocalbox .addLocal {
  width: 100%;
  height: 12.26667vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #684029;
  color: #fff;
  font-size: 3.73333vw;
  line-height: 12.26667vw;
  text-align: center;
}
