//空的地址页样式
@function vw($px){
    @return($px/750)*200vw
}
body{
    width: 100%;
    height: 100%;
    // background-color: #F6F6F6;
}
.addLocalbox{
    width: 100%;
    // height: 100%;
    margin-top: vw(46);
    // text-align: center;
    // // position: relative;
    >img{
        width: vw(50);
        height: vw(50);
        margin: vw(200) vw(163) vw(10);
    }
    >span{
        text-align: center;
        font-size: vw(12);
        color: #707070;
        display: block;
        // margin-left: vw(50);
    }
    .addLocal{
        width: 100%;
        height: vw(46);
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #684029;
        color: #fff;
        font-size: vw(14);
        line-height: vw(46);
        text-align: center;
    }
}
