.am-wingblank.am-wingblank-lg {
  margin: 0;
  font-size: 24px;
}

ol, ul, div {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 3.2vw;
  color: #442818;
}

li {
  margin: 0;
  padding: 0;
  font-size: 3.2vw;
  color: #442818;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
  border-radius: 0;
}

h3, h4, h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #442818;
}

a, a:visited, a:link {
  text-decoration: none;
  cursor: pointer;
  color: #442818;
}

.new-home-content {
  margin: 0 5.33333vw;
}

.new-home-content .right-box {
  overflow: hidden;
  text-align: center;
  margin: 9px 0;
  padding: 0;
  height: 18px;
  list-style: none;
}

.new-home-content .right-box li {
  line-height: 4.8vw;
  color: #C69C6D;
  display: inline-block;
  vertical-align: middle;
  font-size: 3.2vw;
}

.new-home-content .right-box li i.new-home-icon {
  height: 3.73333vw;
  width: 3.73333vw;
  margin-top: -0.53333vw;
  display: inline-block;
  vertical-align: middle;
  background: url(https://static.21cake.com/themes/wap/img/new-home-icon.png) no-repeat;
  background-size: 24vw auto;
  background-position: 0 -4vw;
}

.new-home-content .right-box li:first-child {
  float: left;
  margin-top: 1px;
}

.new-home-content .right-box li:last-child {
  float: right;
  margin-top: 1px;
}

.home-menu-box {
  overflow: hidden;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.home-menu-box li {
  width: 19%;
  line-height: 4.26667vw;
  text-align: center;
  margin: 1.33333vw 0 1.33333vw 0;
}

.home-menu-box li a {
  width: 25%;
  text-decoration: none;
  cursor: pointer;
  color: #442818;
}

.home-menu-box li a img {
  width: 70%;
  display: block;
  min-height: 10.66667vw;
  margin: 0 auto;
  border: 0;
}

.mould-goods {
  min-height: 80vw;
  padding-top: 2.66667vw;
  font-size: 3.2vw;
  color: #442818;
}

.mould-goods .mould-goods-content {
  border-top: 0.26667vw solid #e5e5e5;
}

.mould-goods .mould-goods-content .title-goods {
  padding-top: 2.66667vw;
}

.mould-goods .mould-goods-content .title-goods span {
  color: #322418;
  display: inline-block;
  height: 5.33333vw;
  font-size: 3.46667vw;
  background: #f4ebe2;
  border-radius: 26.66667vw;
  padding: 0 2.66667vw;
  line-height: 5.33333vw;
}

.mould-goods .mould-goods-content .title-goods a, .mould-goods .mould-goods-content .title-goods a:visited, .mould-goods .mould-goods-content .title-goods a:link {
  text-decoration: none;
  cursor: pointer;
  color: #442818;
}

.mould-goods .mould-goods-content .title-goods a {
  float: right;
  color: #808080;
}

.mould-goods .mould-goods-content .title-goods a i {
  width: 1.6vw;
  height: 3.2vw;
}

.mould-goods .mould-goods-content .title-goods i.new-home-more {
  display: inline-block;
  vertical-align: middle;
  background: url(https://static.21cake.com/activity/wap/home/img/more.png) no-repeat center;
  background-size: auto 1.86667vw;
  margin-top: -0.53333vw;
}

.mould-goods .mould-goods-content ul {
  margin-top: 2.66667vw;
}

.mould-goods .mould-goods-content ul li {
  margin-bottom: 5.33333vw;
  background: #fff;
  border: 0.26667vw solid #F2EAE4;
  box-shadow: 0 1.06667vw 3.2vw rgba(0, 0, 0, 0.06);
  border-radius: 1.33333vw;
  overflow: hidden;
}

.mould-goods .mould-goods-content ul li a, .mould-goods .mould-goods-content ul li a:visited, .mould-goods .mould-goods-content ul li a:link {
  text-decoration: none;
  cursor: pointer;
  color: #442818;
}

.mould-goods .mould-goods-content ul li a img, .mould-goods .mould-goods-content ul li a:visited img, .mould-goods .mould-goods-content ul li a:link img {
  width: 100%;
  border: 0;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart {
  position: relative;
  padding-bottom: 3.73333vw;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart h4 {
  color: #A6A6A6;
  margin: 2.66667vw 2.66667vw 0 2.66667vw;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart h4 .title {
  font-weight: bold;
  font-size: 4vw;
  color: #442818;
  display: inline-block;
  margin-right: 2.13333vw;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart h4 .price {
  font-size: 4vw;
  color: #C69C6D;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1.06667vw;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart h4 span {
  vertical-align: middle;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart p {
  width: 70%;
  line-height: 4.53333vw;
  margin-top: 1.86667vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 2.66667vw;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart button {
  position: absolute;
  bottom: 2.66667vw;
  right: 2.66667vw;
  background: none;
  border: none;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart button i {
  height: 12vw;
  width: 12vw;
  background: url(https://static.21cake.com/themes/wap/img/new-home-icon.png) no-repeat;
  background-position: -9.33333vw 0.8vw;
  background-size: 21.33333vw auto;
}

.mould-goods .mould-goods-content ul li .bottom-price-cart button .new-home-icon {
  display: inline-block;
  vertical-align: middle;
}

.mould-activity {
  background: #fff;
  padding-bottom: 5.33333vw;
  width: 100%;
  overflow: hidden;
  border-bottom: 0.26667vw solid #e5e5e5;
}

.mould-activity h3 {
  margin-bottom: 4vw;
}

.mould-activity h3 span {
  color: #322418;
  display: inline-block;
  height: 5.33333vw;
  font-size: 3.46667vw;
  background: #f4ebe2;
  border-radius: 26.66667vw;
  padding: 0 2.66667vw;
  line-height: 5.33333vw;
}

.mould-activity a {
  width: 100%;
  display: block;
  background: #fff;
  min-height: auto;
}

.mould-activity .mould-activity-box {
  box-shadow: 0 0 2.66667vw 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.33333vw;
  position: relative;
  margin-left: 0.8vw;
}

.mould-activity .mould-activity-box .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}

.mould-activity .mould-activity-box .swiper-wrapper .swiper-slide {
  text-align: center;
}

.mould-activity .mould-activity-box .swiper-wrapper .swiper-slide img, .mould-activity .mould-activity-box .swiper-wrapper .swiper-slide a {
  width: 100%;
  display: block;
}

.mould-activity .mould-activity-box a {
  height: auto;
}

.mould-activity .mould-activity-box .left-text {
  width: 40%;
  float: left;
  background: #fff;
  text-align: left;
}

.mould-activity .mould-activity-box .left-text h6 {
  font-size: 4vw;
  line-height: 5.86667vw;
  margin-top: 3.2vw;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 5.86667vw;
  white-space: nowrap;
  padding: 0 2.66667vw;
}

.mould-activity .mould-activity-box .left-text p {
  font-size: 3.2vw;
  color: #999;
  height: 16vw;
  background: #fff;
  text-align: left;
  padding: 0 2.66667vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  margin: 0;
}

.mould-activity .mould-activity-box .left-text span {
  font-size: 3.46667vw;
  color: #C2A185;
  float: left;
  display: block;
  padding-left: 2.66667vw;
  margin-top: 2.66667vw;
}

.mould-activity .mould-activity-box .right-img {
  width: 60%;
  float: left;
  display: block;
  border-radius: 0 1.33333vw 1.33333vw 0;
}

.mould-activity .mould-activity-box .right-img img {
  min-height: 36.26667vw;
  background: #eee;
  border-radius: 0 1.33333vw 1.33333vw 0;
}

.mould-community {
  margin-top: 2.66667vw;
  background: #fff;
  margin-left: 5.33333vw;
  margin-right: 5.33333vw;
}

.mould-community span {
  color: #322418;
  display: inline-block;
  height: 5.33333vw;
  font-size: 3.46667vw;
  background: #f4ebe2;
  border-radius: 26.66667vw;
  padding: 0 2.66667vw;
  line-height: 5.33333vw;
}

.mould-community .home-community-content {
  overflow: auto;
  padding-bottom: 5.33333vw;
  padding-top: 1.33333vw;
  width: 100%;
}

.mould-community .home-community-content .community-list {
  width: 308vw;
  overflow: hidden;
}

.mould-community .home-community-content .left-img {
  float: left;
  overflow: hidden;
  padding: 2.66667vw 0;
}

.mould-community .home-community-content .left-img div:first-child {
  margin-left: 0;
}

.mould-community .home-community-content .left-img .left-img-div {
  width: 67.14667vw;
  float: left;
  height: 46.66667vw;
  box-shadow: 0 0 2.66667vw 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.33333vw;
  margin: 0 1.33333vw;
  overflow: hidden;
  background-size: auto 1.6vw;
}

.mould-community .home-community-content .left-img .left-img-div a {
  background: transparent;
}

.mould-community .home-community-content .left-img .left-img-div a .wzimg {
  width: 100%;
  height: 32vw;
  background: url("https://static.21cake.com/public/images/af/80/ef/de4d836fcd4d164ab51dca2a9701ecb8.jpg") no-repeat;
  background-size: cover;
  margin: 0;
}

.mould-community .home-community-content .left-img .left-img-div a h6 {
  font-size: 4vw;
  color: #383838;
  margin-top: 3.46667vw;
  overflow: hidden;
  height: 5.86667vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 2.66667vw;
}

.mould-community .home-community-content .look_more {
  width: 29.86667vw;
  display: block;
  height: 100%;
  float: left;
  line-height: 53.33333vw;
  text-align: center;
  padding-top: 2.66667vw;
}

.mould-community .home-community-content .look_more a {
  display: block;
  margin-right: 1.33333vw;
  font-size: 4vw;
  line-height: 46.66667vw;
  box-shadow: 0 0 2.66667vw 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.33333vw;
  margin: 0 1.33333vw;
  overflow: hidden;
}
