body {
  margin: 0;
  padding: 0;
}

.type .container {
  z-index: 5000;
}

.type div {
  font-size: 3.73333vw;
  color: #707070;
}

.type a {
  border-bottom: #442818 0.53333vw solid;
  color: #442818;
}

.type .am-tabs-tab-bar-wrap .am-tabs-default-bar-underline {
  border: #442818 0.29333vw solid;
}

.type .am-tabs * {
  box-sizing: content-box;
}

.type .list-pro-box {
  display: block;
  transform-origin: 0 0;
  opacity: 1;
  transform: scale(1, 1);
}

.type .list-pro-box h1, .type .list-pro-box h2, .type .list-pro-box h3, .type .list-pro-box h4, .type .list-pro-box h5, .type .list-pro-box h6 {
  margin: 0;
  padding: 0;
  font-size: 3.2vw;
  color: #442818;
}

.type .list-pro-box h2 {
  padding: 2.13333vw 0;
  text-align: center;
  font-size: 4vw;
  height: 8vw;
  margin: 0 auto;
  line-height: 4vw;
  background: rgba(213, 191, 167, 0.1);
  border-bottom: 0.26667vw solid #e9e9e9;
}

.type .list-pro-box h2 span {
  font-size: 2.66667vw;
  display: block;
  line-height: 3.46667vw;
  margin-top: 0.53333vw;
  color: #D5BFA7;
}

.type .list-pro-box .pro-list-title {
  text-align: center;
}
