//地址编辑页面样式
@function vw($px){
    @return($px/750)*200vw
}


body{
    width: 100%;
    height: 100%;
    // background-color: #F6F6F6;
    
}

.box{
    width: vw(375);
    height: 100%;
    background: #F6F6F6;
    
    .editTitle{
        width: 100%;
        height: vw(44);
        background-color: white;
        text-align: center;
        position: relative;
        // vertical-align: middle;

        >a{
            display: block;
            position: absolute;
            left: vw(13);
            top: vw(12);
            width: vw(40);
            height: vw(20);
            background: url(https://static.21cake.com/themes/wap/img/Page-back.png);
            background-size: vw(12) vw(18) ;
            background-repeat: no-repeat;
        }

        h2{
            line-height: vw(44);
            font-size: vw(16);
        }
    }

    .editInput{
        background-color: white;
        font-size: vw(12);
        display: block;
        width: 100%;
        // height: vw(274);
        margin-top: vw(10);
        padding-left: vw(14);
        
        >li{
            width: 100%;
            height: vw(46);
            border-bottom: vw(1) solid #DFDFDF;
            vertical-align: middle;
            >label{
                font-size: vw(14);
                line-height: vw(46);
                color:#442818;
            }
            >input{
                width: vw(281);
                height: vw(45);
                float: right;
                font-size: vw(14);
            }
            input::-webkit-input-placeholder{   // 谷歌
                color:#A5A5A5;
                font-size: vw(12);
                // font-size:12px;
            }

        }
        >li:nth-child(3){
            vertical-align: middle;
            position: relative;

            >.ant-cascader-picker{
                
                height: vw(40);
                width: vw(270);
                margin-left: vw(40);
                position: absolute;
                top: vw(5.5);
                // margin-bottom: vw(6);
                vertical-align: middle;
                .ant-cascader-picker-label{
                    margin-top: vw(-15);
                }
                >input{
                    border: none;
                }
                .ant-cascader-picker-arrow{
                    margin-top: vw(-10);
                }
            }
        }
        >li:nth-child(4){
            height: vw(91);
            >textarea{
                margin-top: vw(10);
                width: vw(294);
                height: vw(76);
                float: right;
                border: none;
            }
            textarea::-webkit-input-placeholder {
                color:#D5BFA7;
            }
            
        }
        >li:nth-child(5){
            border: none;
        }
    }

    .set-default{
        width: 100%;
        height: vw(46);
        background-color: white;
        margin-top: vw(30);
        margin-bottom: vw(64);
        padding: 0 vw(14);
        vertical-align: middle;
            >label{
                font-size: vw(14);
                line-height: vw(46);
                color:#442818;
            }
    }
   
        >button{
            width: vw(337);
            height: vw(35);
            font-size: vw(16);
            color: white;
            background: #71442a;
            margin-left: vw(19);
            border-radius: vw(5);
        }
    
}
